{% extends "__base_template.html" %}

{% block content %}
<div class="card mb-5">
    <div class="card-body">
        <h5 class="card-title">Недавние пользователи</h5>
        {% if last_users|length > 0 %}
        <ul class="card-text">
            {% for user in last_users %}
            <li><a href="/user/{{user.id}}">{{ user.login }}</a></li>
            {% endfor %}
        </ul>
        <a href="/user" class="card-link">Все пользователи</a>
        {% else %}
        <div class="card-text">
            Список пользователей пуст
        </div>
        <a href="/user/create" class="card-link">Создать пользователя</a>
        {% endif %}

    </div>
</div>
<div class="card mb-5">
    <div class="card-body">
        <h5 class="card-title">Последние новости</h5>
        {% if last_news | length > 0 %}
        <ul class="card-text">
            {% for news in last_news %}
            <li><a href="/news/{{ news.id }}">{{ news.title }}</a></li>
            {% endfor %}
        </ul>
        <a href="/news" class="card-link">Все новости</a>
        {% else %}
        <div class="card-text">
            Пока нет новостей
        </div>
        {% if auth_user %}
        <a href="/news/create" class="card-link">Добавить новость</a>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}