{% extends "__base_template.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ news.title }}</h5>
        <div class="card-text mb-1">
            {{ news.content }}
        </div>
        {% if user %}
        Автор: <a href="/user/{{ user.id }}">{{ user.login }}</a>
        {% endif %}
    </div>
</div>

{% endblock %}