{% extends '__base_template.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Пользователи</h5>
        {% if user_list | length > 0 %}
        <ul class="card-text">
            {% for user in user_list %}
            <li><a href="/user/{{ user.id }}">{{ user.login }} (<a href="/user/delete/{{ user.id }}">удалить</a>)</li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="card-title">
            Список пользователей пуст
        </div>
        {% endif %}
        <a href="/user/create" class="card-link">Создать</a>
    </div>
</div>
{% endblock %}