{% extends '__base_template.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Новости пользователя <span class="badge badge-secondary">{{ user.login }}</span></h5>
        {% if user.avatar %}
        <img src="/{{ user.avatar }}" alt="{{ user.login }}" style="width: 100px"/>
        {% endif %}
        <ul class="card-text">
            {% for news in user_news %}
            <li><a href="/news/{{ news.id }}">{{ news.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}