{% extends '__base_template.html' %}

{% block content %}
<form
        action="/user/create"
        method="post"
        enctype="multipart/form-data"

        class="card"
>
    {{ form.hidden_tag() }}
    <div class="card-body">
        <div class="form-group">
            <label for="{{ form.login.id }}">{{ form.login.label }}</label>
            {{ form.login(class_="form-control") }}
        </div>
        <div class="form-group">
            <label for="{{ form.password.id }}">{{ form.password.label }}</label>
            {{ form.password(class_="form-control") }}
        </div>
        <div class="form-group">
            <label for="{{ form.avatar.id }}">{{ form.avatar.label }}</label>
            {{ form.avatar(class_="form-control") }}
        </div>
        {{ form.submit(class_="btn btn-primary") }}
    </div>
</form>
{% endblock %}